 @font-face {
	font-family: 'fzlt';
	src: url('fzlt.eot?') format('eot');/*IE*/
	src:url('ftlt.woff') format('woff'), url('ftlt.ttf') format('truetype');/*non-IE*/
	font-weight: normal;
	  font-style: normal;
}
html,body,.label, body, h1, h2, h3, h4, h5, h6{
	font-family:"Microsoft JhengHei",'fzlt',arial;
}
/*header*/
.page-header{
	position: fixed;
	left:0;
	top:0;
	right: 0;
	width:100%;
    margin: 0;
    border: 0;
    padding: 0;
    height: 46px;
    min-height: 46px;
    filter: none;
    background-image: none;
    background-color: #2b3643;
    z-index: 2000;
}
.white-theme.page-header{
	background-color: #E1E1E1;
}
.page-header .page-logo{
	float: left;
    display: block;
    width: 235px;
    height: 46px;
    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.white-theme .page-logo{
	text-align: center;
	padding:5px;
}
.page-header .page-logo h1{
	font-size: 2em;
    color: #c6cfda;
    text-align: center;
    margin: 0;
    line-height: 46px;
}
.white-theme.page-header .page-logo h1{
	color:#333;
}
.page-header .center-menu ul{
	list-style: none;
	margin:0;
	padding: 0;
}
.white-theme .center-menu h3{
	margin:0;
	line-height: 46px;
	text-align: center;	
}
.page-header .center-menu ul>li{
	float:left;
	height:46px;
}
.page-header .center-menu ul>li>a{
	padding:0 18px;
	line-height: 46px;
	font-size: 1em;
	color:#79869a;
	text-decoration: none;
}
.page-header .center-menu ul>li:hover>a,.page-header .center-menu ul>li.selected>a{
	color:#c6cfda;
}
.white-theme .center-menu ul>li:hover>a,.white-theme .center-menu ul>li.selected>a{
	color:#484848;
}
.page-header .center-menu ul>li.selected{
	background-color: #3f4f6a;
}
.white-theme .center-menu ul>li.selected{
	background-color: #eee;
}
.page-header .top-menu {
    margin: 0;
    padding: 0;
    float: right;
}
.page-header .top-menu .input-group{
	width: 200px;
    float: left;
    padding: 8px 0;
}
.dropdown-user{
	padding:0 6px 0 8px;
	float:right;
}
.dropdown-user a{
	line-height: 46px;
	text-decoration: none;
}
.dropdown-user img{
	width: 35px;
    background-color: #fff;
    height: 35px;
}
/*container*/
.page-container {
    margin: 0;
    padding: 0;
    position: relative;
	margin-top:46px;
}
.page-content-wrapper{
	float:left;
	width:100%;
}
.page-container .page-sidebar{
	background-color: #364150;
	color:#b4bcc8;
    width: 235px;
    float: left;
    left: 0;
    bottom: 0;
    position: fixed;
    top: 46px;
    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.page-container .page-sidebar h4{
	color:#708096;
}
.page-container .page-content {
	background-color:#fff;
    margin-left: 235px;
    margin-top: 0;
    min-height: 600px;
    padding: 25px 20px 10px;
    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
@media (max-width: 767px) {
	.page-header .page-logo{
	    width: 200px;
	}
	.page-container .page-sidebar{
	  width: 200px;
	}
	.page-container .page-content{
		margin-left: 200px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.page-header .page-logo{
	    width: 200px;
	}
  	.page-container .page-sidebar{
        width: 200px;
    }
    .page-container .page-content{
    	margin-left: 200px;
    }
}
.clearfix{
	clear: both;
}
.disc-main{
	padding-left:0!important;
	padding-right:0!important;
	margin-top: -1px;
	background-color: #eee;
}
.disc-main .nav-tabs{
	margin-bottom: 0;
}
.page-bar{
	background-color: #fff;
    position: relative;
    padding: 0 20px;
}
.menu-group{
	display: inline-block;
	margin: 5px 0;
	padding: 0 5px;
	vertical-align: middle;
	border-right: 1px dashed #ccc;
	float: left;
	position: relative;
}
.menu-group legend{
	text-align: center;
	margin-bottom: 5px;
}
.menu-group p{
	margin:2px;
}
.menu-group .big{
	float: left;
	margin:5px 10px;
	text-align: center;
	padding-top:10px;
	color:#337ab7;
	cursor: pointer;
	position: relative;
}
#surface .menu-group .big{
	padding-top: 5px;
}
.menu-group .pout{
	position: relative;
	float: left;
	text-align: center;
	color:#337ab7;
	cursor: pointer;
}
.menu-group input{
	float: right;
	width:35px;
	padding:3px;
	height:30px;
}
.input-append.color{
    margin-top: 10px;
       position: absolute;
       right: 0;
}
.input-append.color input{
	display: none;
}
.full-height-content{
	min-height:600px;
}
#filetab{
	min-width:350px;
	max-width: 400px;
	position: fixed;
	z-index: 2500;
	top: 0;
	left: -100%;
	bottom: 0;
	background-color:#fff;
	border: 1px solid #32c5d2;
	-webkit-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}
.filetabshow{
	left:0!important;
}
/*overwrite bootstrap*/
.color-default{
	color: #bac3d0;
}
.color-danger{
	color:#ED6B75;
}
.color-info{
	color:#659BE0;
}
.color-success{
	color:#36c6d3;
}
.color-warning{
	color:#F1C40F;
}
.color-primary{
	color:#337ab7;
}
.color-purple{
	color:#8E44AD!important;
}
.color-yellow{
	color:#c49f47!important;
}
.portlet{
	padding:10px;
}
.form-control{
	height:30px;
}
.dropdown-right{
	right:0;
	left:auto;
}
.btn-group>.dropdown-menu.dropdown-right:before,
.dropdown-toggle>.dropdown-menu.dropdown-right:before,
.dropdown>.dropdown-menu.dropdown-right:before{
	position: absolute;
    top: -8px;
    right: 9px;
    left: auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    content: '';
}
.btn-group>.dropdown-menu.dropdown-right:after,
.dropdown-toggle>.dropdown-menu.dropdown-right:after,
.dropdown>.dropdown-menu.dropdown-right:after{
	position: absolute;
    top: -7px;
    right: 10px;
    left: auto;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
}
[data-toggle="ws-tab"] .btn{
	padding: 2px 12px;
	color:#b4bcc8;
	border:none;
	background-color: transparent;
}
[data-toggle="ws-tab"] .btn:not(.active):hover{
	background-color:#3e4b5c!important
}
[data-toggle="ws-tab"] .btn.active{
	background-color: #36c6d3;
	color:#fff;
}
[data-toggle="ws-tab"] .btn input[type='radio']{
	display: none;
}
[data-toggle="ws-tab"] .btn:not(:first-child):not(:last-child){
	border-left:1px solid #435060;
	border-right:1px solid #435060;
}
[data-toggle="ws-tab"] .btn:first-child{
	border-right:1px solid #435060;
}
[data-toggle="ws-tab"] .btn:last-child{
	border-left:1px solid #435060;
}
.bigtab{
	border:1px solid #e7ecf1!important;
	text-align: center;
}
.bigtab .nav-tabs{
	display: inline-block;
	margin-bottom:-5px;
}
.tags label{
	margin:2px 5px;
	cursor: pointer;
	padding:0px 5px;
	text-decoration: underline;
}
.tags label.active{
	color:#36c6d3;
	text-decoration: none;
}
.thumbnail{
	position: relative;
}
.thumbnail img{
	width: 100%!important;
	height: 100%!important;
	display: block;
}
.thumbnail .clone,.thumbnail .delete{
	position: absolute;
	top: 15px;
	font-size: 1.5em;
}
.thumbnail .clone{
	left:15px;
}
.thumbnail .delete{
	right:15px;
}
.thumbnail .thumbfoot {
    margin: 0 -15px -15px -15px;
    border-top: 1px solid #eee;
    text-align: center;
   padding: 2px 0 2px 0;
}
.thumbfoot ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.thumbfoot ul li{
    float:left;
    padding: 0;
}

