<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>画盘</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <% include modules/common/csslink.html%>
    </head>
    <body class="page-header-fixed">
        <%if(pathname=="/"){%>
            <% include modules/common/header.html%>
        <%}%>
        <%if(pathname=="/homepage"){%>
            <% include modules/homepage/header.html%>
        <%}%>
        <%if(pathname=="/picture-disc"){%>
            <% include modules/picturedisc/header.html%>
        <%}%>
        <div class="clearfix"> </div>
        <div class="page-container">
            <%if(pathname=="/"){%>
                <% include modules/common/main.html%>
            <%}%>
            <%if(pathname=="/homepage"){%>
                <% include modules/homepage/homepage.html%>
            <%}%>
            <%if(pathname=="/picture-disc"){%>
                <% include modules/picturedisc/picturedisc.html%>
            <%}%>
        </div>
        
    </body>
    <script src="libs/require.js" data-main="scripts/main"></script>
</html>